.quizz-body{
    background-color:  #285361;
    color:  #eec597;
    width: 600px;
    min-height: 400px;
  height: min-content;
    margin: auto;
    border-radius: 60px;
    display: flex;
    font-size: 18px;  
    padding: 20px;  
}

.options-choose {
    padding: 80px;

}

select{
    border: 1px solid black;
    background-color:  #fffbef;
    width: 20em;
    border-radius: 5px;
    overflow: hidden;
    appearance: none;
    padding: 5px 15px;
}


.category-choose, .level-choose {
    margin-top: 20px;
  }
  
  label {
    font-weight: bold;
  }