.App {
  text-align: center;
  color: #2f5663;
}


.App-header {
  background-color: #2f5663; /*#2f5663*/
  min-height: vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #204c73;
}

body{
  background-color: #e7d2b7;
}
